.ourServices.position {
  background-color: var(--bg-color);
  .bottom {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);   
    
    @media (max-width: 1000px) {
      grid-template-columns: 1fr;
    }

    .therapyCard {
      padding: 40px 50px;
      background-color: var(--color-white);
      border: 1px solid var(--color-grey);
      display: flex;
      flex-direction: column;
      gap: 30px;

      .top_text {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      p {
        color: var(--color-light);
      }
      .bottom_text {
        display: flex;
        gap: 30px;

        .place {
          display: flex;
          align-items: center;
          gap: 8px;

          span {
            color: var(--color-success);
            align-items: center;
          }
          p {
            color: var(--color-black);
          }
        }
      }
    }
  }
}

.statistic.career {
  grid-template-rows: 1fr;
}

.about.mission.application .top {    
  background-color: #fff;
  overflow: visible;
  grid-template-rows: .2fr 1fr .2fr;
  grid-template-columns: 1fr;
  justify-items: center;

  .title {
    h2 {
      text-align: center;
    }
  }
  .text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    
    p {
      color: var(--color-light);
      line-height: 20px;
    }
  }
  @media (max-width: 1000px) {
    grid-template-rows: .5fr .5fr;
    gap: 10px;
  }
  @media (max-width: 700px) {
    /* padding: 50px; */
    /* width: 100vw; */
  }
}

.about.benefits {
  .about_bottom {
    text-align: start;
    overflow-x: visible;

    .card {
      text-align: start;
      align-items: start;
      gap: 20px;

      p {
        color: var(--color-light);
      }
    }
  }

  @media (max-width: 1000px) {
    .about_left {
      align-items: center;
    }
    .about_bottom {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}