.headerImage {
  height: fit-content;
  background-image: url(images/Image\ \(2\).png);
  background-position: top;
  background-size: contain;
  grid-template-rows: .3fr 500px;
  row-gap: 0px;
  justify-content: center;
  align-items: center;
}
.header {
  display: grid;
  grid-template-columns: 600px;
  grid-template-rows: repeat(2, .5fr);
  gap: 50px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
} 
.header h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 78.4px;
}
.header p {
  border-top: 2px solid var(--color-white);
  padding-top: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
}


@media (max-width: 1300px) {
  .headerImage {
    background-position: center;
    background-size: cover;
  }
}