section{
     height: 100vh;
}
.title{
     font-size: 15px;
     color: #222222;
     text-transform: uppercase;
}
.title::before{
     content: "";
     display: inline-block;
     width: 8px;
     height: 8px;
     border-radius: 50%;
     clip-path: circle();
     background-color: #6BA50F;
     margin-right: 10px;
}
.head{
     font-size: 40px;
     font-weight: 400;
     line-height: 56px;
     text-align: left;
}
.Sessions .head{
     font-size: 30px;
}
.story{
     font-family: Manrope;
     font-size: 16px;
     font-weight: 400;
     text-align: left;
     color: #909090;
}
.icon i{
     font-size: 1em;
     color: #fff;
}
.icon{
     width: 35px;
     height: 35px;
     border-radius: 50%;
     clip-path: circle();
     background-color: #6BA50F;
     display: flex;
     justify-content: center;
     align-items: center;
}
.col-8 h2{
     font-size: 24px;
     font-weight: 500;
     text-align: left;
}
.col-8 h6{
     color: #909090;
     font-size: 14px;
     font-weight: 400;
     text-align: left;
}
form{
     background-color: #EFF5F0;
     border-radius: 30px;
}
label{
     font-size: 20px;
     font-weight: 500;
     line-height: 28px;
     text-align: left;
}
input{
     border-radius: 15px;
}
input::placeholder{
     font-size: 10px;
}
textarea{
     resize: none;
}
.send{
     padding: 20px 30px;
     border-radius: 99px;
     background-color: #D8FF9A;
     color: #232323;
     font-size: 20px;
}
.num{
     font-size: 48px;
     line-height: 48px;
     text-align: center;
}
.numText{
     font-size: 20px;
     line-height: 16px;
     text-align: center;
}
.statistics{
     background-color: #F8F8F8;
     height: 100vh;
}
.help{
     height: 50vh;
}
.carddd{
     background-color: #F8F8F8;
     border-radius: 30px;
}
.carddd h3{
     font-size: 24px;
     font-weight: 500;
     line-height: 33.6px;
     text-align: left;
}
.carddd p {
     font-size: 14px;
     font-weight: 400;
     line-height: 22.4px;
     text-align: left;
     color: #909090;
}
.help .icon{
     width: 50px;
     height: 50px;
}
.Touchs{
     height: 100vh;
     background-color: #EFF5F0;
}
.col-3-5 {
     flex: 0 0 auto;
     width: 28%;
}
.accordion-item{
     border: none!important;
     margin: 15px 0;
}
.accordion-button, .accordion-button:not(.collapsed), .accordion-button.collapsed, .accordion-flush > .accordion-item > .accordion-header .accordion-button, .accordion-flush > .accordion-item > .accordion-header .accordion-button.collapsed {
     background: #F8F8F8;
     border-radius: 99px;
     outline: none;
     border: none!important;
}
.accordion-body {
     border: none!important;
}

.plan{
     font-size: 24px;
     font-weight: 500;
     line-height: 33.6px;
     text-align: left;
}
.descrition{
     font-size: 14px;
     font-weight: 400;
     line-height: 22.4px;
     text-align: left;
     color: #909090;
}
.price{
     font-size: 28px;
     font-weight: 500;
     line-height: 39.2px;
     text-align: left;
     color: #6BA50F;
}
.price::before{
     content: "$";
}
.length::before{
     content: "/";
}
.length{
     font-size: 14px;
     font-weight: 400;
     line-height: 22.4px;
     text-align: left;
     color: #222222;
}
.span1{
     font-size: 12px;
     font-weight: 400;
     line-height: 15.6px;
     text-align: left;
     color: #232323;
}
.vard li{
     font-size: 14px;
     font-weight: 400;
     line-height: 22.4px;
     text-align: left;
     color: #909090;
}
ul.custom-list {
     list-style-type: none; /* Remove default bullets */
}
 
ul.custom-list li {
     margin-bottom: 10px; /* Optional: Add space between items */
     background: url('both/fontawesome-free-6.4.2-web/svgs/solid/circle-check.svg'); /* Add your custom image */
     background-size: 16px 16px; /* Size of the marker image */
     background-repeat: no-repeat;
     background-position: 0 5px; /* Adjust the position of the marker */
     padding-left: 25px; /* Space to align text with the marker */
}
ul.custom-list2 li {
     margin-bottom: 10px; /* Optional: Add space between items */
     background: url('both/fontawesome-free-6.4.2-web/svgs/solid/check.svg'); /* Add your custom image */
     background-size: 16px 16px; /* Size of the marker image */
     background-repeat: no-repeat;
     background-position: 0 5px; /* Adjust the position of the marker */
     padding-left: 25px; /* Space to align text with the marker */
}  
.getStart{
     padding: 20px 50px;
     border-radius: 99px;
     opacity: 0px;
     background-color: #222222;
     color: #B8FF48;
     font-size: 20px;
     font-weight: 400;
     line-height: 14px;
     text-align: center;
}
.vard{
     background-color: #F8F8F8;
     padding: 20px;
     border-radius: 15px ;
}
.vard hr{
     border: 1px solid #DDEADE!important;
     margin: 0 auto;
     opacity: 1;
     width: 80%;
}
.num2{
     font-size: 48px;
     font-weight: 400;
     line-height: 48px;
     text-align: left;
}
.numText2{
     font-size: 12px;
     font-weight: 400;
     line-height: 15.6px;
     text-align: left;
     color: #909090;
}
ul.custom-list3 li {
     margin-bottom: 10px; /* Optional: Add space between items */
     background: url('images/Icon.png.png'); /* Add your custom image */
     background-size: 30px 30px; /* Size of the marker image */
     background-repeat: no-repeat;
     background-position: 0 5px; /* Adjust the position of the marker */
     padding-left: 50px; /* Space to align text with the marker */
} 
.custom-list3 li{
     display: flex;
     flex-direction: column;
}
.custom-list3 li span{
     font-size: 24px;
     font-weight: 500;
     line-height: 33.6px;
     text-align: left;
     color: #222222;
}
.posit{
     background-color: #DDEADE;
}
.cardd{
     padding: 35px;
     border-radius: 15px;
}
.discription{
     color: #909090;
     font-size: 14px;
     font-weight: 400;
     line-height: 22.4px;
     text-align: left;
}
.space-y-5 > * + *{
     margin-top: 1.25rem; /* 20px */
}
.gap-20{
     gap: 20px;
}
.grid{
     display: grid;
}
.grid-cols-2{
     grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-cols-4{
     grid-template-columns: repeat(4, minmax(0, 1fr));
}
.icons{
     height: 50px;
     width: 50px;
     border-radius: 50%;
     background-color: #6BA50F;
     color: #fff;
     padding: 0;
     font-weight: 400;
     font-size: 20px;
}